.places {
    margin: auto;
    max-width: 984px;
    padding-top: 92px;
    padding-bottom: 92px;
}

@media all and (max-width: 425px) {
    .places {
        max-width: 90vw;
        padding-top: 64px;
        padding-bottom: 66px;
    }
}

@media all and (426px < width <=768px) {
    .places {
        max-width: 90vw;
        padding-top: 88px;
        padding-bottom: 90px;
    }    
}

@media all and (769px < width < 1025px) {
    .places {
        max-width: 90vw;
    }
}