.places__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media all and (max-width: 425px) {
    .places__title {
        font-size: 32px;
        line-height: 35px;
        margin-left: calc(10vw/2);
        margin-right: calc(10vw/2);
    }
}

@media all and (425px <= width <= 900px) {
    .places__title {        
        font-size: 42px;
        line-height: 46px;
    }
}

