.cover__subtitle {
    position: absolute;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    width: 360px;
    top: 429px;
    right: 0;
    left: 0;
}

@media all and (max-width: 425px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 280px;        
        top: 119px;
    }
}

@media all and (426px < width <=768px) {  
    .cover__subtitle {
        font-size: 15px;
        line-height: 17px;
        width: 310px;        
        top: 210px;
    }
}

@media all and (769px <= width <=1024px) {
    .cover__subtitle {
        top: 379px;
    }
}