.intro {
    margin: auto;   
    max-width: 984px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    padding-top: 92px;
    padding-bottom: 92px;
}

@media all and (max-width: 425px) {
    .intro {
        width: calc(100vw - 32px);
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media all and (425px < width <= 768px) {
    .intro {       
        width: calc(100vw - 48px);       
        padding-top: 88px;
        padding-bottom: 88px;        
    }
}

@media all and (768px < width <= 1024px) {
    .intro {
        width: 91vw;       
    }
}