.cover {
    display: flex;
    margin: auto;
    max-width: 1184px;
    min-height: 740px;
    background-image: url('../../images/do-baikala.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media all and (max-width: 425px) {
    .cover {
        min-height: 200px;
    }
}

@media all and (426px < width <=1124px) {
    .cover {
        min-height: 100%;
    }

}




