.cover {
    margin: auto;
    max-width: 1184px;
    max-height: 740px;
    display: flex;
    position: relative;
}

@media all and (max-width: 425px) {
    .cover {
        width: 100vw;
    }
}

@media all and (426px < width <=768px) {
    .cover {
        width: 100vw;
    }
}

@media all and (769px <= width <=1024px) {
    .cover {
        width: 100vw;
    }
}