.places__place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 48px 40px;
    padding-bottom: 80px;
}

.places__place:last-of-type {
    padding-bottom: 0;
}

@media all and (max-width: 425px) { 
    .places__place {
        gap: 32px;
        padding-bottom: 25px;
    }
}

@media all and (426px < width <=768px) {   
    .places__place {
        gap: 48px 28px;
        padding-bottom: 72px;
    }
}

@media all and (769px < width < 1025px) {  
    .places__place {
        gap: 48px 32px;
    }
}