.cover__title {
    position: absolute;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    width: 560px;
    top: 245px;
    right: 0;
    left: 0;
}

@media all and (max-width: 425px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 250px;
        top: 33px;
    }
}

@media all and (426px < width <=768px) {
    .cover__title {
        font-size: 50px;
        line-height: 54px;
        width: 360px;
        top: 70px;
    }
}

@media all and (769px <= width <=1024px) {
    .cover__title {
        top: 195px;
    }
}