.cover__title {
    margin: 0;
    margin: auto;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    width: 560px;
    padding-bottom: 32px;
    padding-top: calc((740px - 250px)/2);
}


@media all and (max-width: 580px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 255px;
        padding-bottom: 16px;
        padding-top: calc(((100vw*740/1184) - 134px)/2);
    }
}


@media all and (580px <= width <= 1183px)  {
    .cover__title {
       padding-top: calc(((100vw*740/1184) - 250px)/2);        
    }
}