.places__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 12px;
}

@media all and (max-width: 425px) {
    .places__website {
        margin-left: calc(10vw/2);
        margin-right: calc(10vw/2);
    }
}
